@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, ul {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button, button:focus {
  outline: none;
}

::-moz-selection {
  background: #f95259;
  color: #fff;
}

::selection {
  background: #f95259;
  color: #fff;
}

.wrapper-padding {
  padding: 0 7%;
}

body {
  font-family: Nunito, sans-serif;
}

.header__company--info {
  border-bottom: 1px solid #eae9e9;
  height: 95px;
}

@media (max-width: 992px) {
  .header__company--info {
    height: calc(95px + 1rem);
  }
  .header__company--info > div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media (max-width: 768px) {
  .header__company--info {
    height: auto;
    padding-top: 1rem;
  }
}

.header__company--mobile span {
  font-size: 1.25rem;
  color: #2f3241;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.header__company--mobile span:hover {
  color: #ef5056;
}

@media (max-width: 992px) {
  .header__company--mobile {
    display: block !important;
  }
}

.header__company--logo {
  width: 152px;
  height: 100%;
}

.header__company--logo a {
  width: 100%;
}

.header__company--logo a img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .header__company--logo {
    margin-bottom: 1rem;
    width: 100%;
  }
  .header__company--logo a {
    display: block;
    text-align: center;
  }
  .header__company--logo a img {
    width: 152px;
  }
}

.header__company--contact .list__item:nth-child(2) {
  margin: 0 65px;
}

.header__company--contact .list__item--icon {
  padding-top: .3rem;
}

.header__company--contact .list__item--icon i {
  font-size: 1rem;
  color: #2f3241;
}

.header__company--contact .list__item--info a {
  font-size: 0.75rem;
  color: #919191;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  letter-spacing: .05em;
  font-weight: 700;
}

.header__company--contact .list__item--info p {
  font-size: 0.75rem;
  font-size: 0.75rem;
  color: #919191;
}

@media (max-width: 768px) {
  .header__company--contact {
    display: none;
  }
}

.header__navbar {
  border: 2px solid red;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar--left {
  border: 2px solid blue;
}

.header__navbar--right {
  border: 2px solid green;
}

footer {
  height: 150px;
}

main .slider__btn {
  top: 50%;
  z-index: 10;
}

main .slider__btn--left {
  left: 20px;
}

main .slider__btn--left:hover button {
  -webkit-transform: translateX(-0.3rem);
          transform: translateX(-0.3rem);
}

main .slider__btn--right {
  right: 20px;
}

main .slider__btn--right:hover button {
  -webkit-transform: translateX(0.3rem);
          transform: translateX(0.3rem);
}

main .slider__btn button {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

main .slider__btn button, main .slider__btn button:focus {
  background-color: transparent;
  border: none;
}

main .slider__btn button img {
  width: 2.25rem;
}

main .slider__items {
  width: 100%;
  height: 492px;
  position: relative;
}

main .slider__items--item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
}

main .slider__items--itemDescription {
  position: absolute;
  z-index: 10;
  width: 450px;
  top: 10%;
  left: 14%;
}

main .slider__items--itemDescription h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 800;
  color: #1f212c;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 25px;
}

main .slider__items--itemDescription span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 40px;
  background-color: #ef5056;
}

main .slider__items--itemDescription p {
  margin-top: 20px !important;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #2f3241;
  font-family: 'Nunito', sans-serif;
  padding: 25px 0 !important;
}

main .slider__items--itemDescription button {
  text-transform: uppercase;
  background-color: #f8464f;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: .05em;
  font-weight: 700;
  border-radius: 3em;
  padding: 10px 41px;
  cursor: pointer;
}

main .slider__items--itemDescription .hidden, main .slider__items--itemDescription .hidden::after {
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

main .slider__items--itemDescription .visible, main .slider__items--itemDescription .visible::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

main .slider__items--itemImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .slider__items--itemImage img {
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(1.45);
          transform: scaleY(1.45);
}

main .slider__items--item.show {
  opacity: 1;
}

main .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .offers > div {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border-radius: 10px;
  overflow: hidden;
}

main .offers__offer {
  background-color: #5663c1;
  color: #fff;
  width: 364px;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
}

main .offers__offer:nth-child(2n) {
  background-color: #4a56af;
}

main .offers__offer--icon, main .offers__offer--title, main .offers__offer--description, main .offers__offer--readMore {
  text-align: center;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 1rem;
}

main .offers__offer--icon {
  margin-bottom: 2rem;
}

main .offers__offer--title h5 {
  font-weight: 800;
  font-size: 1.25rem;
}

main .offers__offer--readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

main .offers__offer--readMore a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2em;
  font-weight: 700;
}

main .offers__offer--readMore img {
  width: .7rem;
  margin: 2px 0 0 10px;
}

main .offers__offer:hover > div {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .offers__offer:hover > div.offers__offer--readMore {
  opacity: 1;
}

main .introductory {
  margin: 75px 0 100px 0;
}

main .introductory > div > div {
  width: 45%;
}

main .introductory__video {
  min-width: 635px;
  width: 635px;
  height: 412px;
  position: relative;
}

main .introductory__video img {
  width: 100%;
}

main .introductory__video button.play {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f95259;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .introductory__video button.play img {
  width: 20px;
  height: 22px;
}

main .introductory__text h2 {
  color: #2f3241;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 1.25em;
  font-weight: 800;
}

main .introductory__text .underline {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #f95259;
  margin: 25px 0;
}

main .introductory__text p {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #919191;
  margin: 15px 0;
}

main .introductory__text button {
  text-transform: uppercase;
  background-color: #f8464f;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: .05em;
  font-weight: 700;
  border-radius: 3em;
  padding: 10px 41px;
  cursor: pointer;
  margin-top: 25px;
}

main .achievements {
  background-color: #2f3241;
  height: 388px;
  color: #fff;
}

main .achievements__number {
  height: 1em;
  display: inline-block !important;
  vertical-align: middle;
  font-size: 50px;
  line-height: 1em;
  font-weight: 800;
  overflow: hidden;
}

main .achievements .underline {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #f95259;
  margin: 25px auto;
}

main .achievements__title {
  font-family: Montserrat,sans-serif;
  font-weight: 800;
  font-size: 20px;
}

main .qualities {
  padding: 125px 0;
}

main .qualities h1 {
  color: #2f3241;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

main .qualities p.description {
  font-size: 19px;
  line-height: 30px;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  color: #919191;
  width: 50%;
}

main .qualities .underline {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #f95259;
  margin: 25px auto;
}

main .qualities__quality > div:first-child {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  width: 90%;
  margin-left: 5%;
}

main .qualities__quality--item {
  z-index: 10;
  text-align: center;
}

main .qualities__quality--item .img-wrapper {
  background-color: #f7f7f7;
  display: inline-block;
  border-radius: 50% !important;
}

main .qualities__quality--item img {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  padding: 10px;
}

main .qualities__quality--item h5 {
  color: #2f3241;
  font-family: Montserrat,sans-serif;
  font-weight: 800;
  margin-top: 1rem;
}

main .qualities__quality--item p {
  font-family: Nunito,sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #919191;
  width: 70%;
  margin: 0 15%;
  display: inline-block;
}

main .qualities__quality .bg-image {
  top: 0;
  right: 0;
}
/*# sourceMappingURL=app.css.map */