p, ul {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

.wrapper-padding {
  padding: 0 7%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "_partials/header";
@import "_partials/main";
@import "_partials/footer";