@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
p, ul {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button, button:focus {
  outline: none;
}

header .company__info {
  height: 94px;
}
header .company__info--logo img {
  width: 152px;
  height: 21px;
}
header .company__info--contact .list__item:not(:last-child) {
  margin-right: 65px;
}
header .company__info--contact .list__item a {
  font-size: 12px;
  color: #919191;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 700;
}
header .company__info--contact .list__item--icon {
  padding-top: 0.7rem;
}
header .company__info--contact .list__item--icon i {
  font-size: 20px;
  color: #2f3241;
}
header .company__info--contact .list__item--info p {
  font-size: 12px;
}
header .navbar {
  height: 58px;
}
header .navbar__left--item > a, header .navbar__right--item > a {
  display: inline-block;
  color: #2f3241;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  letter-spacing: 0.05em;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 23px;
  padding: 0 18px;
  height: 100%;
  line-height: 58px;
}
header .navbar__left--item > a:hover, header .navbar__right--item > a:hover {
  color: #f95259;
  transition: color 0.3s;
}
header .navbar__left--item {
  height: 100%;
}
header .navbar__left--item > .item__active span {
  color: #f95259;
  position: relative;
}
header .navbar__left--item > .item__active span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: calc(100% + 14px);
  height: 5px;
  background-color: #f95259;
  left: -7px;
  bottom: 0;
}
header .navbar__left--item:first-child > a {
  padding-left: 7px;
}
header .navbar__left--item:first-child .dropdown__menu--item a {
  padding: 8px 37px;
}
header .navbar__left--item .dropdown {
  background-color: #fff;
  display: none;
  width: 226px;
  left: -20px;
}
header .navbar__left--item .dropdown__menu {
  padding: 24px 0 !important;
}
header .navbar__left--item .dropdown__menu--item {
  white-space: nowrap;
}
header .navbar__left--item .dropdown__menu--item a {
  display: inline-block;
  width: 100%;
  padding: 8px 38px;
  font-size: 15px;
  line-height: 23px;
  color: #919191;
  font-family: Montserrat, sans-serif;
}
header .navbar__left--item .dropdown__menu--item a.item__active {
  color: #f95259;
}
header .navbar__left--item .dropdown__menu--item .submenu {
  background-color: #fff;
  left: 100%;
  top: -24px;
  padding: 24px 0;
  width: 226px;
  display: none;
}
header .navbar__left--item .dropdown__menu--item .submenu__icon {
  font-size: 10px;
}
header .navbar__left--item .dropdown__menu--item .submenu__child--item:hover a {
  color: #f95259;
}
header .navbar__left--item .dropdown__menu--item:hover > a {
  color: #f95259;
}
header .navbar__left--item .dropdown__menu--item:hover .submenu {
  display: block;
}
header .navbar__left--item:first-child .dropdown {
  left: -30px;
}
header .navbar__left--item:first-child .dropdown ul li a {
  padding-left: 37px;
}
header .navbar__left--item:last-child > a {
  padding-right: 7px;
}
header .navbar__left--item:last-child .dropdown {
  left: 0;
}
header .navbar__left--item:last-child .dropdown > ul {
  padding-top: 51px !important;
}
header .navbar__left--item:last-child .dropdown > ul > li {
  width: 25%;
}
header .navbar__left--item:last-child .dropdown > ul > li:not(:last-child) {
  border-right: 1px solid #f0eded;
}
header .navbar__left--item:last-child .dropdown h6 {
  padding: 0 38px;
  color: #2f3241;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.1em;
  font-family: Montserrat, sans-serif;
}
header .navbar__left--item:hover .dropdown {
  display: block;
}
header .navbar__right--item {
  height: 100%;
}
header .navbar__right--item a {
  padding: 0 10px;
}
header .navbar__right--item a i {
  font-size: 1.1rem;
}
header .navbar__right--item:last-child a {
  padding-right: 0;
}
header .navbar__right--item .pro__cart--quantity {
  right: 4px;
  top: 15px;
  padding: 3px 3px 2.5px 3.5px;
  border-radius: 50%;
  color: #fff;
  background-color: #f95259;
  line-height: 1;
  font-weight: 700;
  font-size: 10px;
}
header .navbar__right--item .pro__cart:hover .pro__cart--quantity {
  background-color: #000 !important;
  transition: background-color 0.3s;
}
header .navbar__right--item .dropdown {
  background-color: #fff;
  width: 277px;
  right: 15px;
  display: none;
}
header .navbar__right--item .dropdown__menu {
  width: 231px;
  margin: 24px 23px !important;
}
header .navbar__right--item:hover .dropdown {
  display: block;
}

main .slider__btn {
  top: 50%;
  z-index: 10;
}
main .slider__btn--left {
  left: 20px;
}
main .slider__btn--left:hover button {
  transform: translateX(-0.3rem);
}
main .slider__btn--right {
  right: 20px;
}
main .slider__btn--right:hover button {
  transform: translateX(0.3rem);
}
main .slider__btn button {
  transition: transform 0.2s;
}
main .slider__btn button, main .slider__btn button:focus {
  background-color: transparent;
  border: none;
}
main .slider__btn button img {
  width: 2.25rem;
}
main .slider__images {
  width: 100%;
  height: 492px;
}
main .slider__images--item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
}
main .slider__images--item img {
  width: 100%;
}

footer {
  height: 150px;
}

.wrapper-padding {
  padding: 0 7%;
}

::-moz-selection {
  background: #f95259;
  color: #fff;
}

::selection {
  background: #f95259;
  color: #fff;
}/*# sourceMappingURL=style.css.map */