@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

main {
  .slider {

    &__btn {
      top: 50%;
      z-index: 10;
      
      &--left {
        left: 20px;

        &:hover {
          button {
            transform: translateX(-.3rem);
          }
        }
      }

      &--right {
        right: 20px;

        &:hover {
          button {
            transform: translateX(.3rem);
          }
        }
      }

      button {
        transition: transform .2s;
        &, &:focus {
          background-color: transparent;
          border: none;
        }
        
        img {
          width: 2.25rem;
        }
      }
    }

    &__items {
      width: 100%;
      height: 492px;
      position: relative;

      &--item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
        position: absolute;
        opacity: 0;

        // description container styles
        &Description {
          position: absolute;
          z-index: 10;
          width: 450px;
          top: 10%;
          left: 14%;

          h1 {
            font-size: 60px;
            line-height: 70px;
            font-weight: 800;
            color: rgb(31, 33, 44);
            font-family: 'Montserrat', sans-serif;
            text-transform: capitalize;
            margin-bottom: 25px;
          }
          
          span {
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 5px;
              width: 40px;
              background-color: rgb(239, 80, 86);
            }
          }

          p {
            margin-top: 20px !important;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: rgb(47, 50, 65);
            font-family: 'Nunito', sans-serif;
            padding: 25px 0 !important;
          }

          button {
            text-transform: uppercase;
            background-color: rgb(248, 70, 79);
            border: none;
            color: #fff;
            font-size: 12px;
            line-height: 2em;
            letter-spacing: .05em;
            font-weight: 700;
            border-radius: 3em;
            padding: 10px 41px;
            cursor: pointer;
          }

          .hidden {
            &, &::after {
              transform: translateX(120px);
              opacity: 0;
              visibility: hidden;
              transition: .5s;
            }
          }

          .visible {
            &, &::after {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        // description container styles

        // image container styles
        &Image {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            transform: scaleY(1.45);
          }
        }
        // image container styles

        &.show {
          opacity: 1;
        }
      }
    }
  }

  .offers {
    display: flex;
    justify-content: center;

    > div {
      transform: translateY(-50px);
      border-radius: 10px;
      overflow: hidden;
    }

    &__offer {
      background-color: #5663c1;
      color: #fff;
      width: 364px;
      height: 322px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem;

      &:nth-child(2n) {
        background-color: #4a56af;
      }

      &--icon, &--title, &--description, &--readMore {
        text-align: center;
        transform: translateY(20px);
        transition: all .3s;
        margin-bottom: 1rem;
      }

      &--icon {
        margin-bottom: 2rem;
      }

      &--title {
        h5 {
          font-weight: 800;
          font-size: 1.25rem;
        }
      }

      &--readMore {
        display: flex;
        justify-content: center;
        opacity: 0;

        a {
          color: #fff;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 2em;
          font-weight: 700;
        }

        img {
          width: .7rem;
          margin: 2px 0 0 10px;
        }
      }

      &:hover {
        > div {
          transform: translateY(0);

          &.offers__offer--readMore {
            opacity: 1;
          }
        }
      }
    }
  }

  .introductory {
    margin: 75px 0 100px 0;

    > div > div {
      width: 45%;
    }

    &__video {
      min-width: 635px;
      width: 635px;
      height: 412px;
      position: relative;

      img {
        width: 100%;
      }

      button.play {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #f95259;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);

        img {
          width: 20px;
          height: 22px;
        }
      }
    }

    &__text {
      h2 {
        color: #2f3241;
        font-family: Montserrat, sans-serif;
        font-size: 40px;
        line-height: 1.25em;
        font-weight: 800;
      }

      .underline {
        display: block;
        width: 40px;
        height: 5px;
        background-color: #f95259;
        margin: 25px 0;
      }

      p {
        font-family: Nunito, sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #919191;
        margin: 15px 0;
      }

      button {
        text-transform: uppercase;
        background-color: rgb(248, 70, 79);
        border: none;
        color: #fff;
        font-size: 12px;
        line-height: 2em;
        letter-spacing: .05em;
        font-weight: 700;
        border-radius: 3em;
        padding: 10px 41px;
        cursor: pointer;
        margin-top: 25px;
      }
    }
  }

  .achievements {
    background-color: #2f3241;
    height: 388px;
    color: #fff;

    &__number {
      height: 1em;
      display: inline-block!important;
      vertical-align: middle;
      font-size: 50px;
      line-height: 1em;
      font-weight: 800;
      overflow: hidden;
    }

    .underline {
      display: block;
      width: 40px;
      height: 5px;
      background-color: #f95259;
      margin: 25px auto;
    }

    &__title {
      font-family: Montserrat,sans-serif;
      font-weight: 800;
      font-size: 20px;
    }
  }

  .qualities {
    padding: 125px 0;
    
    h1 {
      color: #2f3241;
      font-family: Montserrat, sans-serif;
      font-weight: 800;
    }

    p.description {
      font-size: 19px;
      line-height: 30px;
      font-family: Nunito, sans-serif;
      font-weight: 400;
      color: #919191;
      width: 50%;
    }

    .underline {
      display: block;
      width: 40px;
      height: 5px;
      background-color: #f95259;
      margin: 25px auto;
    }
    
    &__quality {
      > div:first-child {
        justify-content: space-around !important;
        width: 90%;
        margin-left: 5%;
      }

      &--item {
        z-index: 10;
        text-align: center;

        .img-wrapper {
          background-color: #f7f7f7;
          display: inline-block;
          border-radius: 50% !important;
        }

        img {
          border: 1px solid #e6e6e6;
          border-radius: 50%;
          padding: 10px;
        }

        h5 {
          color: #2f3241;
          font-family: Montserrat,sans-serif;
          font-weight: 800;
          margin-top: 1rem;
        }

        p {
          font-family: Nunito,sans-serif;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: #919191;
          width: 70%;
          margin: 0 15%;
          display: inline-block;
        }
      }

      .bg-image {
        top: 0;
        right: 0;
      }
    }
  }
}