// header styles
.header {
  &__company {
    // header inner wrapper
    &--info {
      border-bottom: 1px solid #eae9e9;
      height: 95px;

      // responsiveness for devices with screen less than 992 pixels
      @media (max-width: 992px) {
        height: calc(95px + 1rem);
        
        > div {
          flex-direction: column !important;
        }
      }
      
      // responsiveness for devices with screen less than 768 pixels
      @media (max-width: 768px) {
        height: auto;
        padding-top: 1rem;
      }
    }
    // header inner wrapper

    // header mobile hamburger icon
    &--mobile {
      span {
        font-size: $normal;
        color: $dark;
        transition: color .5s;

        &:hover {
          color: $primary;
        }
      }

      // show this block on devices with screen less than 992 pixels
      @media (max-width: 992px) {
        display: block !important;
      }
    }
    // header mobile hamburger icon

    // logo section styles
    &--logo {
      width: 152px;
      height: 100%;

      a {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      // responsiveness for devices with screen less than 992 pixels
      @media (max-width: 992px) {
        margin-bottom: 1rem;
        width: 100%;

        a {
          display: block;
          text-align: center;

          img {
            width: 152px;
          }
        }
      }
    }
    // logo section styles

    // header contact section
    &--contact {
      .list {
        &__item {
          // adding margin to left and right sides of the element in the center
          &:nth-child(2) {
            margin: 0 65px;
          }

          // icon styles
          &--icon {
            padding-top: .3rem;

            i {
              @include header-contact-icon;
            }
          }

          // information text and links styles
          &--info {
            a {
              @include header-contact-info;
            }

            p {
              font-size: $smaller;
              @include header-contact-subinfo;
            }
          }
        }
      }

      // hide this block on devices with screen less than 768 pixels
      @media (max-width: 768px) {
        display: none;
      }
    }
    // header contact section
  }
  
  // header navbar styles
  &__navbar {
    border: 2px solid red;
    height: 58px;
    display: flex;

    // left side navbar styles
    &--left {
      border: 2px solid blue;
    }

    // right side navbar styles
    &--right {
      border: 2px solid green;
    }
  }
}
// header styles


// header {
//   // navbar styles
//   .navbar {
//     &__left--item > a, &__right--item > a {
//       display: inline-block;
//       color: #2f3241;
//       font-family: Montserrat,sans-serif;
//       font-weight: 800;
//       letter-spacing: .05em;
//       font-size: 12px;
//       text-transform: uppercase;
//       line-height: 23px;
//       padding: 0 18px;
//       height: 100%;
//       line-height: 58px;

//       &:hover {
//         color: #f95259;
//         transition: color .3s;
//       }
//     }

//     &__left {
//       &--active {
//         background-color: #f95259;
//         height: 5px;
//         left: calc(7% + 11.5px);
//         bottom: 0;
//         width: 55px;
//         transition: left .4s;
//       }

//       &--item {
//         height: 100%;

//         > .item__active {
//           span {
//             color: #f95259;
//             position: relative;
//           }
//         }

//         // dropdown styles
//         &:first-child {
//           > a {
//             padding-left: 7px;
//           }

//           .dropdown {
//             &__menu {
//               &--item {
//                 a {
//                   padding: 8px 37px;
//                 }
//               }
//             }
//           }
//         }

//         .dropdown {
//           background-color: #fff;
//           display: none;
//           width: 226px;
//           left: -20px;
//           z-index: 20;
  
//           &__menu {
//             padding: 24px 0 !important;
  
//             &--item {
//               white-space: nowrap;
  
//               a {
//                 display: inline-block;
//                 width: 100%;
//                 padding: 8px 38px;
//                 font-size: 15px;
//                 line-height: 23px;
//                 color: #919191;
//                 font-family: Montserrat, sans-serif;
  
//                 &.item__active {
//                   color: #f95259;
//                 }
//               }

//               .submenu {
//                 background-color: #fff;
//                 left: 100%;
//                 top: -24px;
//                 padding: 24px 0;
//                 width: 226px;
//                 display: none;

//                 &__icon {
//                   font-size: 10px;
//                 }

//                 &__child {
//                   &--item {
//                     &:hover {
//                       a {
//                         color: #f95259;
//                       }
//                     }
//                   }
//                 }
//               }

//               &:hover {
//                 > a {
//                   color: #f95259;
//                 }
//                 .submenu {
//                   display: block;
//                 }
//               }
//             }
//           }
//         }

//         &:first-child .dropdown {
//           left: -30px;

//           ul {
//             li {
//               a {
//                 padding-left: 37px;
//               }
//             }
//           }
//         }

//         &:last-child {
//           > a {
//             padding-right: 7px;
//           }

//           .dropdown {
//             left: 0;
//             top: 48px;
//             padding: 10px 0;
//             background-color: transparent;

//             > ul {
//               padding-top: 51px !important;
//               background-color: #fff;

//               > li {
//                 width: 25%;

//                 &:not(:last-child) {
//                   border-right: 1px solid #f0eded;
//                 }
//               }
//             }
          
//             h6 {
//               padding: 0 38px;
//               color: #2f3241;
//               font-weight: 800;
//               font-size: 14px;
//               line-height: 1.1em;
//               font-family: Montserrat,sans-serif;
//             }
//           }
//         }

//         &:hover {
//           .dropdown {
//             display: block;
//           }
//         }
//       }
//     }

//     &__right {
//       &--item {
//         height: 100%;

//         a {
//           padding: 0 10px;

//           i {
//             font-size: 1.1rem;
//           }
//         }

//         &:last-child {
//           a {
//             padding-right: 0;
//           }
//         }

//         .pro__cart {
//           &--quantity {
//             right: 4px;
//             top: 15px;
//             padding: 3px 3px 2.5px 3.5px;
//             border-radius: 50%;
//             color: #fff;
//             background-color: #f95259;
//             line-height: 1;
//             font-weight: 700;
//             font-size: 10px;
//           }

//           &:hover {
//             .pro__cart--quantity {
//               background-color: #000 !important;
//               transition: background-color .3s;
//             }
//           }
//         }

//         .dropdown {
//           background-color: #fff;
//           width: 277px;
//           right: 15px;
//           display: none;

//           &__menu {
//             width: 231px;
//             margin: 24px 23px !important;
//           }
//         }

//         &:hover {
//           .dropdown {
//             display: block;
//           }
//         }
//       }
//     }
//   }
//   // navbar styles
// }