// fonts
$main-font: Montserrat, sans-serif;
$secondary-font: Nunito, sans-serif;


// font sizes
$normal: 1.25rem;
$main: 1rem;
$smaller: .75rem;


// colors
$dark: #2f3241;
$gray: #919191;
$primary: rgb(239, 80, 86);


// font weights
$bold: 700;