header {
  height: 100px;

  .company__info {
    height: 94px;

    &--logo {
      img {
        width: 152px;
        height: 21px;
      }
    }

    &--contact {
      .list__item {
        &:not(:last-child) {
          margin-right: 65px;
        }

        a {
          font-size: 12px;
          color: #919191;
          text-transform: uppercase;
          font-family: Montserrat, sans-serif;
          letter-spacing: .05em;
          font-weight: 700;
        }

        &--icon {
          padding-top: .7rem;

          i {
            font-size: 20px;
            color: #2f3241;
          }
        }

        &--info {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .navbar {
    height: 58px;

    a {
      display: inline-block;
      color: #2f3241;
      font-family: Montserrat,sans-serif;
      font-weight: 800;
      letter-spacing: .05em;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 23px;
      padding: 0 18px;
      height: 100%;
      line-height: 58px;
    }

    li {
      &:first-child a {
        padding-left: 0;
      }

      &:last-child a {
        padding-right: 0;
      }
    }

    &__left {
      &--item {
        height: 100%;
      }
    }

    &__right {
      &--item {
        height: 100%;

        a {
          padding: 0 10px;

          i {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}