main {
  
  .slider {

    &__btn {
      top: 50%;
      z-index: 10;
      
      &--left {
        left: 20px;

        &:hover {
          button {
            transform: translateX(-.3rem);
          }
        }
      }

      &--right {
        right: 20px;

        &:hover {
          button {
            transform: translateX(.3rem);
          }
        }
      }

      button {
        transition: transform .2s;
        &, &:focus {
          background-color: transparent;
          border: none;
        }
        
        img {
          width: 2.25rem;
        }
      }
    }

    &__images {
      width: 100%;
      height: 492px;

      &--item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        top: 0;

        img {
          width: 100%;
        }
      }
    }
  }
}